# https://github.com/github/linguist/blob/master/docs/overrides.md
vendor/**                      linguist-generated
config/rbac/role.yaml          linguist-generated
config/rbac/role_binding.yaml  linguist-generated
